<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :slug %>
  <%= form.text_field :slug %>
</p>

<p>
  <%= form.label :description %>
</p>

<p>
  <%= form.text_area :description, :rows => "5", :cols => "30" %>
</p>

<p>
  <%= form.label :picture  %>
  <%= form.file_field :avatar %>
</p>
